{% extends "base.html" %}

{% block title %}Politique relative aux Cookies{% endblock %}

{% block body %}
<div class="container my-5">
    <h2 class="text-center mb-5">Politique relative aux Cookies</h2>
    <div class="bg-light p-5 rounded shadow">
        <p>Bienvenue sur notre site de vide-grenier en ligne. Cette politique relative aux cookies explique comment nous utilisons les cookies et autres technologies similaires sur notre site.</p>

        <h3 class="mt-5">1. Qu'est-ce qu'un cookie ?</h3>
        <p>Un cookie est un petit fichier texte placé sur votre appareil lorsque vous visitez un site Web. Il permet au site de se souvenir de vos actions et préférences (telles que la connexion, la langue, la taille de la police et d'autres préférences d'affichage) sur une période donnée, vous évitant ainsi de les saisir à chaque fois que vous revenez sur le site ou naviguez d'une page à l'autre.</p>

        <h3 class="mt-5">2. Comment nous utilisons les cookies ?</h3>
        <p>Nous utilisons des cookies pour diverses raisons, notamment pour :</p>
        <ul>
            <li>Assurer le bon fonctionnement de notre site.</li>
            <li>Améliorer votre expérience de navigation en mémorisant vos préférences.</li>
            <li>Analyser l'utilisation de notre site et mesurer l'efficacité de nos campagnes marketing.</li>
        </ul>

        <h3 class="mt-5">3. Contrôle des cookies</h3>
        <p>Vous pouvez contrôler et gérer les cookies dans les paramètres de votre navigateur. Veuillez noter que la désactivation des cookies peut affecter le fonctionnement de certaines parties de notre site.</p>

        <h3 class="mt-5">4. Modifications de cette Politique</h3>
        <p>Nous pouvons modifier cette Politique relative aux cookies à tout moment. Toute modification sera publiée sur cette page.</p>
    </div>
</div>
{% endblock %}
