{% extends "base.html" %}

{% block title %}Politique de confidentialité{% endblock %}

{% block body %}
<div class="container my-5">
    <h2 class="text-center mb-5">Politique de Confidentialité</h2>
    <div class="bg-light p-5 rounded shadow">
        <p>Bienvenue sur notre site de vide-grenier en ligne. Nous nous engageons à protéger votre vie privée. Cette politique de confidentialité explique comment nous collectons, utilisons et protégeons vos informations lorsque vous utilisez notre Site pour déposer et consulter des articles gratuitement.</p>

        <h3 class="mt-5">1. Informations que nous collectons</h3>
        <p>Nous collectons les types d'informations suivants :</p>
        <ul>
            <li><strong>Informations personnelles :</strong> Nom, adresse e-mail.</li>
            <li><strong>Informations sur les articles :</strong> Description des articles déposés, images.</li>
        </ul>

        <h3 class="mt-5">2. Utilisation de vos informations</h3>
        <p>Nous utilisons vos informations pour :</p>
        <ul>
            <li><strong>Fournir nos services :</strong> Permettre l'inscription et la publication d'annonces.</li>
        </ul>

        <h3 class="mt-5">3. Partage de vos informations</h3>
        <p>Nous ne partageons pas vos informations personnelles avec des tiers, sauf si la loi l'exige.</p>

        <h3 class="mt-5">4. Sécurité de vos informations</h3>
        <p>Nous mettons en œuvre des mesures de sécurité pour protéger vos informations. Cependant, aucune méthode de transmission sur Internet n'est totalement sécurisée.</p>

        <h3 class="mt-5">5. Conseils de Sécurité pour les Utilisateurs</h3>
        <p>Nous vous recommandons vivement de ne pas divulguer d'informations personnelles sensibles sur le Site, telles que votre adresse personnelle, votre numéro de téléphone ou toute autre information susceptible de compromettre votre sécurité. Utilisez le Site de manière responsable et n'échangez vos coordonnées personnelles qu'avec des utilisateurs de confiance.</p>

        <h3 class="mt-5">6. Modifications de cette Politique</h3>
        <p>Nous pouvons modifier cette Politique à tout moment. Toute modification sera publiée sur cette page.</p>

    </div>
</div>
{% endblock %}
