        .content-wrapper-error {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            width: 100%;
            text-align: center;
        }
        .container-error {
            max-width: 1200px;
            margin: 0 auto;
            padding: 50px;
        }
        .error-container h1 {
            font-size: 96px;
            margin-bottom: 10px;
        }
        .error-container p {
            font-size: 24px;
            margin-bottom: 20px;
        }
        .error-container a {
            display: inline-block;
            padding: 15px 30px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            font-size: 18px;
            transition: background-color 0.3s;
        }
        .error-container a:hover {
            background-color: #0056b3;
        }
        .error-image {
            margin-top: 30px;
        }
        .error-image img {
            width: 20%;
            height: auto;
        }